# **this is my first notebook.**

In [ ]:
print ("Hello World")

Hello World

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
df=pd.read_csv('/content/drive/My Drive/data_science_workshop/test_data.csv')

In [ ]:
df.head()

   column0 column1 column2  column3  column4 sample_name
0  control     yes    0.25     0.10     0.00     sample1
1     case     yes     0.9     0.25     0.75     sample2
2  control     yes    0.43     0.23     0.02     sample3
3     case      no    c084     0.34     0.90     sample4

In [ ]:
df=pd.read_csv('/content/drive/My Drive/data_science_workshop/test_data.csv', index_col='sample_name')

In [ ]:
df.head()

             column0 column1 column2  column3  column4
sample_name
sample1      control     yes    0.25     0.10     0.00
sample2         case     yes     0.9     0.25     0.75
sample3      control     yes    0.43     0.23     0.02
sample4         case      no    c084     0.34     0.90

In [ ]:
#df=pd.read_csv('/content/drive/My Drive/data_science_workshop/test_data.csv', index_col='sample_name')
#df.head()
#df['column2']
#df[['column2','column4']]

In [ ]:
#df['column34']=df['column3']+df['column4']
#df.head()

In [ ]:
#df['column01'] = df['column0'] + df['column1']
#df.head()

In [ ]:
#df['column01'] = df['column0'] + "_"+df['column1']
#df.head()

In [ ]:
#df.loc[df['column0'] == 'control', 'new_column0'] = 10
#df.loc[df['column0'] == 'case', 'new_column0'] = 9
#df.head()

In [ ]:
#df.loc[df['column0'] == 'control', 'new_column0'] = 10
#df.loc[df['column0'] == 'case', 'new_column0'] = 9
#df.at['sample4','column2'] = float(0.84)
#df.head()

             column0 column1 column2  ...  column34     column01  new_column0
sample_name                           ...
sample1      control     yes    0.25  ...      0.10  control_yes         10.0
sample2         case     yes     0.9  ...      1.00     case_yes          9.0
sample3      control     yes    0.43  ...      0.25  control_yes         10.0
sample4         case      no    0.84  ...      1.24      case_no          9.0

[4 rows x 8 columns]

**continuation of module 1 (06/16/20)**

In [ ]:
df.dtypes

column0         object
column1         object
column2        float64
column3        float64
column4        float64
column34       float64
column01        object
new_column0    float64
dtype: object

In [ ]:
df['column2'] = pd.to_numeric(df['column2'], errors='coerce')
df.head()

             column0 column1  column2  column3  column4
sample_name
sample1      control     yes     0.25     0.10     0.00
sample2         case     yes     0.90     0.25     0.75
sample3      control     yes     0.43     0.23     0.02
sample4         case      no      NaN     0.34     0.90

In [ ]:
df_clean=df.dropna(how='any')
df_clean.head()

             column0 column1  column2  column3  column4
sample_name
sample1      control     yes     0.25     0.10     0.00
sample2         case     yes     0.90     0.25     0.75
sample3      control     yes     0.43     0.23     0.02

In [ ]:
df2=pd.read_csv('/content/drive/My Drive/data_science_workshop/test_data2.csv', index_col='sample_name')
df2.head()

             age
sample_name
sample1       25
sample4       33
sample3       55

In [ ]:
df_full=df.merge(df2, on='sample_name')
df_full.head()

             column0 column1  column2  column3  column4  age
sample_name
sample1      control     yes     0.25     0.10     0.00   25
sample3      control     yes     0.43     0.23     0.02   55
sample4         case      no      NaN     0.34     0.90   33

In [ ]:
df_full=df.merge(df2, on='sample_name', how='left')
df_full.head()

             column0 column1  column2  column3  column4   age
sample_name
sample1      control     yes     0.25     0.10     0.00  25.0
sample2         case     yes     0.90     0.25     0.75   NaN
sample3      control     yes     0.43     0.23     0.02  55.0
sample4         case      no      NaN     0.34     0.90  33.0

In [ ]:
df_full=df.merge(df2, on='sample_name', how='outer')
df_full.head()

             column0 column1  column2  column3  column4   age
sample_name
sample1      control     yes     0.25     0.10     0.00  25.0
sample2         case     yes     0.90     0.25     0.75   NaN
sample3      control     yes     0.43     0.23     0.02  55.0
sample4         case      no      NaN     0.34     0.90  33.0

In [ ]:
df3=pd.read_csv('/content/drive/My Drive/data_science_workshop/test_data3.csv', index_col='sample_name')
df_full=df.merge(df3, on=['sample_name', 'column1'])
df_full.head()

             column0 column1  column2  column3  column4  age
sample_name
sample1      control     yes     0.25     0.10     0.00   25
sample3      control     yes     0.43     0.23     0.02   55
sample4         case      no      NaN     0.34     0.90   33

In [66]:
df=df.reset_index()
df.head()

   index sample_name  column0 column1  column2  column3  column4
0      0     sample1  control     yes     0.25     0.10     0.00
1      1     sample2     case     yes     0.90     0.25     0.75
2      2     sample3  control     yes     0.43     0.23     0.02
3      3     sample4     case      no      NaN     0.34     0.90

In [68]:
df_full.loc[df_full['age'] >25, 'age_cat'] = 'gt10'
df_full.loc[df_full['age'] <=25, 'age_cat'] = 'lt10'
df_full.head()

             column0 column1  column2  column3  column4  age age_cat
sample_name
sample1      control     yes     0.25     0.10     0.00   25    lt10
sample3      control     yes     0.43     0.23     0.02   55    gt10
sample4         case      no      NaN     0.34     0.90   33    gt10

In [69]:
new_group=df_full.groupby(['column0', 'age_cat']).mean()
new_group.head()

                 column2  column3  column4  age
column0 age_cat
case    gt10         NaN     0.34     0.90   33
control gt10        0.43     0.23     0.02   55
        lt10        0.25     0.10     0.00   25

In [70]:
df_full.to_csv('/content/drive/My Drive/data_science_workshop/test_data_full.csv')
df_group=df_full.groupby('column0').mean()
df_group.to_csv('/content/drive/My Drive/data_science_workshop/test_data_group.csv')
df_group.head()

         column2  column3  column4  age
column0
case         NaN    0.340     0.90   33
control     0.34    0.165     0.01   40